<section class="hero fs-700 flex">
  <%= render partial: 'users/user_hero', locals: { user: @user } %>
</section>
<section class="bio fs-400 border-primary">
  <h2 class="ff-headings fw-bold fs-700">Bio</h2>
  <% @user.bio.split('\n').each do |p| %>
    <p class="bio__paragraph"><%= p %></p>
  <% end %>
</section>
<section class="user-posts fs-400 border-primary">
  <h2 class="ff-headings fw-bold fs-700">Recent Posts</h2>
  <%= render_posts %>
</section>
<%= render partial: 'application/buttons', locals: { user: @user } %>
