.flash {
  display: none;
  width: 100%;
  text-align: center;
  padding-block: 0.25em;
}

.flash--show { display: block; }
.flash--notice { background-color: var(--secondary-color-500); }
.flash--alert { background-color: var(--primary-color-500); }

.user__item {
  padding: 1em;
}

.user__item + .user__item {
  margin-block-start: 0.5em;
}

.user__link {
  background-color: var(--app-white);
  padding: 0.75em;
  gap: 1.5em;
  transition: background-color var(--default-transition);
}

.user__link:hover,
.user__link:focus {
  background-color: var(--neutral-color);
}

.hero {
  padding: 0;
  gap: 1.5em;
}

.user__img {
  width: 15rem;
}

.hero__text {
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1em;
  align-items: center;
}

.hero__name {
  flex-grow: 1;
  flex-basis: 100%;
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
}

.counter {
  flex-grow: 1;
  text-align: end;
}

.counter + .counter {
  margin-inline-start: 1em;
  flex-grow: 0;
}

.counter__name {
  font-weight: var(--fw-bold);
  color: var(--accent-color);
}

.post--new,
.comment--new {
  flex-wrap: wrap;
}

.bio__paragraph,
.post__header { margin-block-end: 0.75rem; }

.post {
  padding: 1em;
  background-color: var(--app-white);
  transition: background-color var(--default-transition);
  pointer-events: none;
}

.post:hover {
  background-color: var(--primary-color-100);
}

.post .post--link {
  transition: color var(--default-transition);
  pointer-events: auto;
}

.post .post--link:hover {
  color: var(--accent-color);
}

.post__number,
.comment__user { font-weight: var(--fw-bold); }

.post + .post { margin-block-start: 0.75em; }

.post__author {
  padding: 0.125em 0.25em;
  color: var(--primary-color);
  background-color: var(--accent-color);
  text-align: end;
}

.post__counters {
  display: inline-flex;
  text-align: end;
  align-items: center;
  width: 100%;
  margin-block-start: 0.5em;
}

.post--comments {
  margin-block-start: 0.75em;
}

.post--comments,
.post--comments__all {
  background-color: var(--app-background);
  padding: 0.5em;
}

.post--comments__all,
.full-post__text { margin-block-start: 1em; }
.comment + .comment { margin-block-start: 0.25em; }

.actions {
  font-size: var(--fs-600);
  padding-block-start: 0;
  text-align: center;
}

.form { flex-basis: 100%; }

.form__field,
.form__input {
  width: 100%;
}

.form__input { border: var(--border-accent-200); }
.form__actions { padding-block-start: 1em; }
