body {
  background-color: var(--app-background);
  color: var(--app-text);
  font-family: var(--ff-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

.main { padding-block: 6rem 12rem; }

.container {
  width: 95%;
  max-width: 75rem;
  margin-inline: auto;
}

section { padding: 1.5em; }
section + section { margin-block-start: 2.5rem; }

.pagination {
  text-align: center;
  padding-block: 0.5em;
}

.active {
  font-weight: var(--fw-bold);
  background-color: var(--primary-color);
}

.btn,
.page,
.page.prev,
.page.next {
  cursor: pointer;
  line-height: 1;
  font-family: var(--ff-controls);
  padding: 0.5em 1em;
  display: inline-block;
}

.page {
  padding: 0.5em 0.35em;
}

.page:hover {
  background-color: var(--neutral-color);
}

.btn + .btn,
.btn--form + .btn--form {
  margin-inline-start: 1em;
}

.page:active,
.page.prev,
.page.next,
.btn--primary {
  background-color: var(--accent-color);
  color: var(--primary-color);
  transition: color var(--default-transition);
  transition: background-color var(--default-transition);
}

.post .btn--primary {
  pointer-events: auto;
}

.page.prev:hover,
.page.prev:focus,
.page.next:hover,
.page.next:focus,
.btn--primary:hover,
.btn--primary:focus {
  color: var(--accent-color);
  background-color: var(--neutral-color);
}

.page.prev:active,
.page.next:active,
.btn--primary:active,
.post .btn--primary:active {
  background-color: var(--app-text);
  color: var(--neutral-color);
}

.post .btn--primary:hover,
.post .btn--primary:focus {
  color: var(--accent-color);
  background-color: var(--neutral-color);
}
